name: Auto-update kernel

on:
  schedule:
    # weekly, hour and minute chosen arbitrarily
    - cron: "32 14 * * 1"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'

      - name: Check latest kernel version from https://archive.raspberrypi.org/debian/
        id: check
        run: |
          # split lines to fail on exit != 0
          sha="$(go run ./cmd/check-update/main.go)"
          echo "sha=$sha" >> $GITHUB_OUTPUT

      - name: Fetch latest kernel
        if: steps.check.outputs.sha != ''
        id: fetch
        run: |
          # update the submodule (faster than update/fetch/checkout)
          rm -rf linux-sources
          git clone --depth=1 --revision ${{steps.check.outputs.sha}} https://github.com/raspberrypi/linux linux-sources

          # split lines to fail on exit != 0
          version="$(cd linux-sources && make kernelversion)"
          echo "version=$version" >> $GITHUB_OUTPUT
          git diff --no-ext-diff

      - name: Compile latest kernel (default)
        if: steps.check.outputs.sha != ''
        run: |
          go run cmd/compile/main.go
          cat linux-sources/.config

      - name: Compile latest kernel (bcm2709_defconfig)
        if: steps.check.outputs.sha != ''
        run: |
          go run cmd/compile/main.go --make-config=bcm2709_defconfig --dist=./dist-bcm2709
          cat linux-sources/.config

      - name: Commit the new kernel
        if: steps.check.outputs.sha != ''
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: kernel ${{steps.fetch.outputs.version}}
          # bump the version below and add a force-update file to release a new version
          tagging_message: v1.1.0-${{steps.fetch.outputs.version}}
